html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.homeContainer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0px;
}
.homeContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeContainer ul div {
  padding: 10px;
}

.homeContainer h1 {
  font-size: 30px;
  align-items: center;
}

.todoContainer {
  border: 2px solid black;
  margin: 20px;
}
.activeAddForm {
  padding: 20px;
}

.activeAddForm input[type="text"] {
  padding: 10px;
  font-size: 20px;
}
.activeAddForm input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

.deleteButton {
  padding: 8px 15px;
  font-size: 20px;
  background-color: rgba(28, 146, 107, 0.527);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  margin-right: 10px;
  transition: all 0.2s ease-in;
}
.editButton {
  background-color: indigo;
}

.deleteButton:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.todoHeading {
  padding: 20px;
}

.activeAddForm input[type="text"] {
  margin-right: 20px;
}

.editTodoContainer {
  width: 900px;
  margin: 0 auto;
  align-items: center;
  margin-top: 200px;
  text-align: center;
}
.editTodoContainer h1 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.editTodoContainer input[type="text"] {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
}

.editTodoContainer .allTodosBtn {
  text-align: center;
  margin: 30px;
}

.striked {
  text-decoration: line-through;
}

.markedButton {
  margin-right: 20px;
}
